.flex {
  display: flex;
}

a {
  text-decoration: none;
}

.flex,
.inline-flex {
  &.column {
    flex-direction: column;
  }

  &.align-center,
  &.center {
    align-items: center;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.justify-center,
  &.center {
    justify-content: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  .align-self-end {
    align-self: flex-end;
  }

  &.no-shrink {
    flex-shrink: 0;
  }

  &.justify-end {
    justify-content: flex-end;
  }
}

.selectP {
  width: 205px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 15px;
  cursor: pointer;

  .selectName {
    color: #333333;
    font-size: 14px;
  }

  .selectPlaceHolder {
    color: #999999;
    font-size: 14px;
  }

  .selectIcon {
    width: 16px;
    height: 16px;
  }
}

.cancelBtn,
.resetBtn {
  width: 90px;
  height: 40px;
  background: rgba(49, 84, 172, 0.1);
  border-radius: 20px;
  border: 1px solid #3154AC;

  &:hover {
    color: #3154AC;
    border-color: #3154AC;
    background: rgba(49, 84, 172, 0.3);
  }
}

.sureBtn {
  min-width: 90px;
  height: 40px;
  color: white;
  background: #3154AC;
  border-radius: 20px;
}

.normalBtn {
  width: 80px;
  height: 40px;
  color: #4991FD;
  background: white;
  border: 1px solid #4991FD;
  border-radius: 20px;
}

.btnTransfer {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #F4F4F6;
  font-size: 14px;
  color: #333333;
  line-height: 40px;
  padding: 0;

  span {
    img {
      width: 16px;
      margin: 12px 10px 11px -2px;
      vertical-align: top;
    }
  }
}

.btnAdd,
.btnReset,
.btnDel {
  min-width: 90px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #F4F4F6;
  font-size: 14px;
  color: #333333;
  line-height: 40px;
  padding: 0;

  span {
    img {
      width: 16px;
      margin: 12px 10px 11px -2px;
      vertical-align: top;
    }
  }
}

// 搜索按钮
.searchCondition {
  .searchLeft {
    position: relative;

    /deep/ .el-input__inner {
      padding-right: 40px;
    }

    .searchBtnImgSpan {
      position: absolute;
      right: 0px;
      top: 5px;
      width: 36px;
      height: 38px;
      line-height: 38px;
      background: #3154AC;
      border-radius: 0 5px 5px 0;
      text-align: center;
      cursor: pointer;

      &:hover {
        background: #24499D;
      }

      .searchBtnImg {
        width: 16px;
      }
    }
  }

  .inputmargintop {
    padding-top: 5px;
  }
}

.searchInputFormItem {
  position: relative;
  top: 2.3px;

  /deep/ .el-input__inner {
    padding-right: 40px;
  }

  .searchBtnImgSpan {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 36px;
    height: 40px;
    line-height: 40px;
    background: #3154AC;
    border-radius: 0 5px 5px 0;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: #24499D;
    }

    .searchBtnImg {
      width: 16px;
    }
  }
}

// 弹框搜索按钮
.searchInputFormItemOpen {
  position: relative;
  margin-bottom: 20px;

  /deep/ .el-input__inner {
    padding-right: 40px;
  }

  .searchBtnImgSpan {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 36px;
    height: 39px;
    line-height: 39px;
    border-radius: 0 5px 5px 0;
    text-align: center;
    cursor: pointer;

    .searchBtnImg {
      width: 36px;
    }
  }
}

/*表格头部操作栏*/
.tableTopDoDiv {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: -10px;
}

.divRightTitleDiv {
  position: relative;

  .divRightTitle {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    margin: 20px 0;
    // &:after {
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   bottom: 0;
    //   transform: translateY(-50%);
    //   width: 32px;
    //   height: 4px;
    //   background: #3154AC;
    //   border-radius: 3px;
    //   opacity: 0.5;
    // }
  }
}

.titleBiao {
  width: 32px;
  height: 4px;
  background: #3154AC;
  border-radius: 3px;
  opacity: 0.5;
  margin-top: -6px;
}

// 点 title
.formSearchTitle {
  font-size: 18px;
  color: #333333;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 20px 0 15px 0;

  &.setTimeText {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
  }

  .dianBlue {
    width: 5px;
    height: 5px;
    background: #4991FD;
    border-radius: 50px;
    display: inline-block;
    margin-right: 5px;
  }

  .dianLv {
    width: 5px;
    height: 5px;
    background: #31C529;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
}

.inputCommon {

  /deep/ .el-input__inner,
  /deep/ .el-textarea__inner,
  /deep/ .el-input.is-disabled .el-input__inner,
  /deep/ .el-textarea.is-disabled .el-textarea__inner {
    background-color: #F4F4F6;
    color: #333333;
    border: none;
    resize: none;

    &::placeholder {
      color: #666666;
    }
  }

  /deep/ .el-input.is-disabled .el-input__inner,
  /deep/ .el-textarea.is-disabled .el-textarea__inner {
    color: #999999;
  }
}

// 侧边选择栏
.intvTmpl_left {
  width: 150px;
  max-height: 685px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 8px;
  text-align: center;
  margin-right: 20px;
  min-height: 600px;
  border: 1px solid #E5E7EF;
  border-top: none;

  .intvTmpl_left_title {
    position: absolute;
    width: 150px;
    height: 48px;
    line-height: 48px;
    background: #DDE0E6;
    color: #333333;
    font-size: 14px;
    border-radius: 8px 8px 0 0;
  }

  .intv_menulist {
    width: 150px;
    margin-top: 48px;

    li {
      padding: 0 10px;
      font-size: 12px;
      color: #333333;
      height: 48px;
      line-height: 48px;
      cursor: pointer;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: left;

      &.active {
        background: #3154AC;
        color: white;
      }

      &:hover {
        color: white;
        background: #3154AC;
      }
    }
  }
}

.redToday {
  color: $--color-today;
}

.overToday {
  color: #E6B058;
}

.footer {
  text-align: right;
  margin-top: 20px;
}

.buttonsSelectOpen {
  text-align: right;
  margin-top: 20px;

  .el-button {
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    background: #3154AC;
    color: #fff;

    &:hover {
      background: #24499D;
      color: #FFFFFF;
    }

    +.el-button {
      margin-left: 20px;
    }

    &:not(.el-button--primary) {
      background: rgba(49, 84, 172, 0.1);
      border-radius: 20px;
      border: 1px solid #3154AC;

      &:hover {
        color: #3154AC;
        border-color: #3154AC;
        background: rgba(49, 84, 172, 0.3);
      }
    }
  }
}
.labelTitle{
  .el-form-item__label{
    font-size: 14px;
    color: #333333!important;
    font-weight: bold;
  }
}
/*tab*/
.two-tab {
  margin-top: 20px;
  background: #ffffff;
  padding-bottom: 32px;

  /deep/ .el-tabs__content {
    padding: 5px 0 0 0;
  }

  /deep/ .el-tabs__item {
    color: #97A6BD;

    &.is-active {
      color: #333333;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.clientName {
  color: #3154AC;
  cursor: pointer;
}

// select表格
.select-user-trigger {
  .el-input__suffix {
    right: 15px;
  }

  input,
  i {
    cursor: pointer;

    &::placeholder {
      color: #666666;
    }
  }
}

.el-input__suffix {
  right: 0;
  border-radius: 5px;
}

// 顶部搜索
.divTop {
  .divTitle {
    align-self: start;
    font-size: 16px;
    color: #333333;
    font-weight: bold;

    span {
      color: #4991fd;
      font-size: 18px;
      margin-right: 3px;

      img {
        width: 7px;
        margin-bottom: 2px;
      }
    }
  }

  .searchInputFormItem {
    .searchBtnImgSpan {
      background: #fff;
      border: 1px solid #DDE0E6;

      .searchBtnImg {
        width: 36px;
      }
    }
  }
}

.searchCondition {
  display: flex;
  .searchLeft {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    div {
      margin: 5px 5px 0 0;
      .timing {
        margin-right: 10px;
      }
      span {
        font-size: 14px;
        color: #333333;
      }

      div {
        div {
          .el-input__suffix {
            right: 0px;
            border-left: 1px solid #DDE0E6;
            border-radius: 0;
            margin-top: 1px;
            height: calc(100% - 2px);
          }
        }
      }
    }
  }

  .more {
    span {
      font-size: 14px;
      color: #666;
      margin-right: 5px;
      transform: rotate(90deg);
    }
  }

  .noMore {
    background: #7CA7FF;
    color: #fff !important;
    span {
      transform: rotate(-90deg);
      color: #fff !important;
    }
  }

  .more:hover {
    cursor: pointer;
    background: #7CA7FF;
    color: #fff !important;

    span {
      color: #fff;
    }
  }

  .buttones {
    display: flex;
    div {
      margin: 15px 10px 0 0;
    }
    .searchmarTop{
      margin-top: 10px;
    }
    .more {
      width: 110px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #DDE0E6;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: #666;

      img {
        width: 16px;
      }
    }
  }

  .searchInputFormItem {
    width: 220px;
    margin-right: 10px !important;
    .el-input {
      width: 100%;
    }
  }

  .searchFor {
    width: 40px;
    height: 40px;

    img {
      width: 100%;
    }
  }

  .resetAll {
    width: 60px;
    height: 40px;
    background: #DDE0E6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #333;
    font-weight: 400;
  }
  &:hover{
      cursor: pointer;
  }
}

.btnAdd,
.btnReset,
.btnDel {
  border-radius: 20px;
  background: #F6F8FC;
}

.el-select .el-input .el-select__caret {
  /*border-right: 1px solid #DDE0E6;
  border-left: 1px solid #DDE0E6;*/
}
.el-card__body{
  padding-top: 0;
}
/deep/ .el-input::-webkit-input-placeholder {
  color: red !important;
}
/deep/ .el-input::-moz-input-placeholder {
  color: red !important;
}
/deep/ .el-input::-ms-input-placeholder {
  color: red !important;
}
.wltitle {
  font-size: 20px;
  font-weight: 800;
  color: #333333;
  height: 60px;
  display: flex;
  align-items: center;

  .quan {
    width: 4.5px;
    height: 4.5px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #B4BBC9;
  }

  span {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
  }

  .el-input {
    width: 7%;
    margin: 0 10px;
  }

  .el-select {
    .el-input {
      width: 100%;
    }
  }
}

.tabBars {
  display: flex;
  align-items: flex-end;
  background-color: #F6F8FC;
  margin: -20px -20px 0 -20px;
  flex-wrap: wrap;
  position: absolute;
  top: 20px;
  z-index: 1;
  width: calc(100% - 40px);

  .firstTitleTabBar {
    .TabBarsNameFirstActive {
      cursor: pointer;
      background: #ffffff;
      border-color: transparent;
      color: #333333;
      font-weight: 500;
      position: relative;
      margin-right: 12px;
      padding: 0 10px 0 16px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      border-radius: 8px 5px 0 0;
      display: inline-block;

      &:after {
        content: '';
        display: block;
        width: 15px;
        height: 40px;
        position: absolute;
        -webkit-transform: skewX(18deg);
        transform: skewX(18deg);
        background: white;
        border-top-right-radius: 8px;
        top: 0px;
        right: -8px;
      }
    }

    .TabBarsFirstNames {
      cursor: pointer;
      background: #EEF1F5;
      border-color: transparent;
      color: #666666;
      position: relative;
      margin-right: 10px;
      padding: 10px 10px 10px 16px;
      font-size: 12px;
      border-radius: 8px 5px 0 0;
      display: inline-block;

      &:after {
        content: '';
        display: block;
        width: 15px;
        height: 36px;
        position: absolute;
        -webkit-transform: skewX(18deg);
        transform: skewX(18deg);
        background: #EEF1F5;
        border-top-right-radius: 8px;
        top: 0px;
        right: -7px;
      }
    }
  }

  .TabBarsNameActive {
    cursor: pointer;
    background: #ffffff;
    border-color: transparent;
    color: #333333;
    font-weight: 500;
    position: relative;
    margin-right: 9px;
    margin-left: 13px;
    padding: 0 8px 0 8px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 8px 5px 0 0;
    display: inline-block;

    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 40px;
      position: absolute;
      -webkit-transform: skewX(165deg);
      transform: skewX(163deg);
      background: white;
      border-top-left-radius: 8px;
      top: 0px;
      left: -4px;
    }

    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 40px;
      position: absolute;
      -webkit-transform: skewX(18deg);
      transform: skewX(18deg);
      background: white;
      border-top-right-radius: 8px;
      top: 0px;
      right: -5px;
    }
  }

  .TabBarsNames {
    cursor: pointer;
    background: #EEF1F5;
    border-color: transparent;
    color: #666666;
    position: relative;
    margin-right: 8px;
    padding: 10px 8px 10px 8px;
    font-size: 12px;
    border-radius: 8px 5px 0 0;
    margin-left: 13px;
    display: inline-block;

    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 36px;
      position: absolute;
      -webkit-transform: skewX(165deg);
      transform: skewX(163deg);
      background: #EEF1F5;
      border-top-left-radius: 8px;
      top: 0px;
      left: -4px;
    }

    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 36px;
      position: absolute;
      -webkit-transform: skewX(18deg);
      transform: skewX(18deg);
      background: #EEF1F5;
      border-top-right-radius: 8px;
      top: 0px;
      right: -5px;
    }
  }

  .Tabunread {
    display: inline-block;
    background: red;
    padding: 3px;
    color: #ffffff;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 12px;
  }
}

.el-dialog__title {
  font-weight: 600;
}
.lookPressure{
  .lookPressureTitle{
    display: inline-block;
    width: 80px;
    text-align: right;
  }
}
