.diet-form_center {
  .diet-plan-box {
    .title {
      font-size: 16px;
      font-weight: 600;
      color: #333333;
      line-height: 25px;
      position: relative;
      margin-bottom: 20px;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 2px;
        transform: translateY(-50%);
        width: 32px;
        height: 4px;
        background: #3154AC;
        border-radius: 3px;
        opacity: 0.5;
      }

      &.permission-title {
        margin-top: 10px;
      }
    }
  }
}

.titles {
  font-weight: 600;
}

.boxchengfen {
  width: 32px;
  height: 4px;
  background: #3154AC;
  border-radius: 3px;
  opacity: 0.5;
  margin-top: -7px;
  margin-bottom: 20px;
}

.cooking-me {
  /deep/ {
    .el-form-item {
      display: flex;
      width: 100%;

      .el-form-item__content {
        flex: 1;
      }
    }
  }
}

.btn-box {
  text-align: center;

  img {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
}

.form-buttons {
  text-align: center;
  margin-top: 150px;
}

.tip {
  font-size: 14px;
  font-weight: 500;
  color: #FA912B;
  line-height: 20px;
  margin-left: 40px;
}

.component-box {
  display: flex;
  flex-wrap: wrap;

  .component-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    margin-bottom: 20px;

    .label {
      width: 100px;
      text-align: right;
    }

    .el-input {
      width: 120px;
      margin: 0 15px;

      /deep/ input {
        text-align: center;
      }
    }
  }
}